@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
@import url(../css/global.css);


html{
    font-size: var(--base-font-size);
    font-family:var(--selected-font);
    box-sizing:border-box;
    
}

body,p,div,span,li,ul,nav,footer,header,h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    box-sizing: inherit;
    padding:0;
    margin:0;
}

h6{
    font-size:1.2em;
}

h5{
    font-size:1.3em;
}

h4{
    font-size:1.45em;
}

h3{
    font-size:1.8em;
}
h2{
    font-size:2.2em;
}
h1{
    font-size:2.8em;
}